<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Product</div>
    <div class="card-body">
      <div class="table-responsive">
              <form  #form="ngForm"  (ngSubmit)="onSubmit(form)" >  
                      <div class="form-group">
                      <label for="user-name">Name*</label>
                      <input  class="form-control" required  style="margin-bottom: 10px;" name="bookName" ngModel  type="text"  [(ngModel)]="testProduct.bookName" #nameProduct="ngModel" >
                      </div>

                      <div class="alert alert-danger" *ngIf="nameProduct.invalid && nameProduct.touched">
                        Name is required!
                      </div>
                    
                    <div class="form-group">
                      <label for="password">Price *</label>
                      <input class="form-control" pattern="\d+(.\d{2})?" style="margin-bottom: 10px;" min="0" name="price" ngModel type="text" required [(ngModel)]="testProduct.price" #price="ngModel" >
                    </div>

                    <div class="alert alert-danger" *ngIf="price.invalid && price.touched">
                      Please enter Price
                    </div>
                    
                    
                    <div class="form-group">
                      <label for="address">Description</label>
                      <input class="form-control" style="margin-bottom: 5px;" ngModel required  type="text" name="description"  #description="ngModel" [(ngModel)]="testProduct.description"  >
                    </div>

                    <div class="alert alert-danger" *ngIf="description.invalid && description.touched">
                      Please enter Description
                    </div>
                    
                       
                      <div class="account-function">
                        <button class="btn btn-primary btn-block" type="submit"  style="width: 20%; margin-left: 600px;"  >Create</button>
                      </div>
                    </form>
      </div>
    </div>
  </div>